@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: default-font;
  src: url(/content/font/Louis\ George\ Cafe\ Light.ttf);
}
.mobile {
  display: none;
}

html, body, main, section {
  margin: 0;
}

html {
  color: #F9F9F9;
  background-color: #F9F9F9;
  overflow-x: hidden;
  font-family: default-font;
}

body {
  background-color: #505050;
  background-image: radial-gradient(rgba(0, 0, 0, 0.066) 0.05em, transparent 0);
  background-size: 0.5em 0.5em;
  background-position: -19px -19px;
  margin: 0.5em;
}

main {
  width: auto;
  margin: auto;
  display: block;
  background-color: #202020;
}

section:nth-of-type(even) {
  background-color: #202020;
  color: #F9F9F9;
}

section:nth-last-of-type(odd) {
  background-color: #F9F9F9;
  color: #202020;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin: 0;
}

h3 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1.5em;
  margin: 0;
}

a, a:visited {
  color: #F9F9F9;
}

.svg-wave {
  fill: #F9F9F9;
}

#intro {
  height: 99vh;
  background-color: red !important;
}

#intro-name-cursor {
  animation: intro-cursor 1s steps(1, end) infinite;
  position: absolute;
}

@keyframes intro-cursor {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: #F9F9F9;
  }
}
#intro-name-title {
  color: #505050;
  opacity: 0;
}

.show {
  animation: show 0.75s ease forwards;
}

.reveal {
  opacity: 0;
  transition: 1s;
}

@keyframes show {
  0% {
    transform: translateX(1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-container {
  position: absolute;
  top: 35%;
  width: 100%;
}

.intro-container h1 {
  margin: 0;
  text-align: center;
}

.intro-container h1:nth-of-type(odd) {
  line-height: 100%;
  font-size: 5.75vw;
}

.intro-container h1:nth-of-type(even) {
  font-size: 2.4vw;
}

.intro-container hr {
  width: 38vw;
  border: 0.15em #F9F9F9 solid;
  margin: auto;
  display: block;
}

#intro-footer-wave {
  position: absolute !important;
  bottom: 0;
  width: calc(100% - 1em);
}

#intro-footer-arrow {
  fill: #505050;
  height: 2.5em;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0%;
  animation: arrow-down 2s infinite;
  z-index: 99;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}
#me {
  color: #202020;
  padding-left: 5em;
  padding-right: 5em;
}

#me p {
  font-size: 5em;
  text-align: center;
  margin: 0;
}

#portrait {
  width: 30vw;
  margin: auto;
  display: block;
}

#me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#me-container > div:nth-of-type(even) {
  flex: 2;
}

#me-container > div:nth-of-type(odd) {
  flex: 3;
  padding-right: 5em;
  padding-right: 5em;
  font-size: 1vw;
}

#more-me hr {
  border: 0.1em solid #F9F9F9;
}

#more-me {
  position: relative;
}

#more-me-container {
  padding: 5em;
}

.more-me-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3em;
  padding-top: 0;
  gap: 2.5em;
  margin-bottom: 1em;
}

.experience {
  grid-template-columns: repeat(2, 1fr);
}

.more-me-item h2 {
  padding-bottom: 5em;
}

.more-me-item p {
  font-size: 1.75em;
}

#projects {
  padding: 5em;
}

#projects h1 {
  text-align: center;
  font-size: 6.25em;
}

#projects hr {
  margin: 3em 0;
  border: 0.1em #202020 solid;
  border-radius: 1em;
}

#project-container {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2.5em;
}

#projet-container div {
  flex: 1;
}

.project-item {
  width: auto;
  max-width: 25%;
  transition: 0.1s;
  color: #F9F9F9;
  background-color: #202020;
  border-radius: 1em;
  padding: 1em;
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  transition: 0.5s;
  box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5), 1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-item:hover {
  transform: scale(1.1) rotate3d(0, 0, 0, 0deg) rotate(0deg);
}

.project-image-container {
  width: 20vw;
  height: 11.25vw;
  background-repeat: no-repeat;
  color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.project-item h2 {
  text-align: center;
  font-size: 125%;
}

.project-item:nth-of-type(1) .project-image-container {
  background-image: linear-gradient(3deg, rgb(255, 115, 0), rgba(234, 0, 255, 0.25)), url(/content/image/projects/forza.png);
  background-size: contain;
}

.project-item:nth-of-type(2) .project-image-container {
  background-image: linear-gradient(3deg, rgb(93, 0, 255), rgba(255, 208, 0, 0.25)), url(/content/image/projects/game.png);
  background-size: contain;
}

.project-item:nth-of-type(3) .project-image-container {
  background-image: linear-gradient(3deg, rgb(42, 46, 52), rgba(255, 255, 255, 0.25)), url(/content/image/projects/memelab.png);
  background-size: contain;
}

#footer-container {
  display: flex;
  text-align: center;
  padding: 5em;
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

#footer-container > * {
  flex: 1;
}

footer p {
  font-size: 2em;
}

@media screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .intro-container {
    top: 25%;
  }
  .intro-container h1 {
    font-size: 25vw !important;
  }
  #me {
    padding-top: 5em;
  }
  #me-container {
    display: block;
  }
  .more-me-container {
    display: block;
  }
  .more-me-item {
    margin-bottom: 2.5em;
  }
  .show {
    animation: none;
  }
  .reveal {
    opacity: 1;
    transition: 0s;
  }
  #intro-name-title {
    opacity: 1;
  }
  #project-container {
    display: block;
  }
  .project-item {
    max-width: 100%;
    margin-bottom: 5em;
  }
  .project-image-container {
    width: 50vw;
    height: 28.125vw;
  }
  #footer-container {
    display: block;
  }
  #footer-container p {
    margin-bottom: 5em;
  }
}/*# sourceMappingURL=styles.css.map */