$pc1: #3F4346;
$pc2: #181818;
$pc3: #99802e;
$pc4: #cecbbf;
$pc5: #F9F9F9;

//animations
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

//fonts
@font-face {
    font-family: title-font;
    src: url(/content/font/Louis\ George\ Cafe\ Light.ttf);
}

html, body, main, section {
    margin: 0;
}

html{
    color: $pc5;
    background-color: $pc5;
}

h1{
    font-family: title-font;
}

body{
    background-color: $pc1;
    background-image: radial-gradient(rgba(0, 0, 0, 0.066) 0.05em, transparent 0);
    $gap: 0.5em;
    background-size: $gap $gap;
    background-position: -19px -19px;

    margin: 0.5em;
}

main{
    width: auto;
    margin: auto;
    display: block;

    background-color: $pc2;
}

#intro{
    height: calc(100vh - 2em);

    background: $pc2;
    $background-intro-size: 200%;
    background-size: $background-intro-size $background-intro-size;
}

#intro-name-cursor{
    animation:  intro-cursor 1s steps(1, end) infinite;
    position: absolute;
}

@keyframes intro-cursor {
    0%{
        color: rgba(0, 0, 0, 0);
    }

    50%{
        color: $pc5;
    }
}

#intro-name-title{
    color: transparent;
}

.intro-show{
    animation: intro-show 0.75s ease forwards;
}

@keyframes intro-show{
    0%{
        transform: translateX(1em);
        color: transparent;
    }

    100%{
        color: $pc1;
    }
}

#intro-container{
    position: absolute;
    top: 35%;

    width: 100%;
}

#intro-container h1{
    font-size: 4em;
    margin: 0;
    text-align: center;
}

#intro-container h1:nth-of-type(odd){
    line-height: 100%;
    font-size: 8em;
}

#intro-container h1:nth-of-type(even){
    font-size: 3.5em;
}

#intro-container hr{
    border: 0.125em $pc5 solid;
    border-radius: 1em;
    width: 55em;
}

#intro-footer-wave{
    position: absolute !important;
    bottom: 0;
    right: 50;
    left: 50;


    width: calc(100% - 1em);
}

#intro-footer-arrow{
    fill: $pc1;
    height: 2.5em;

    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0%;

    animation: arrow-down 2s infinite;

    z-index: 99;
}

@keyframes arrow-down{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1em);
    }

    100%{
        transform: translateY(0);
    }
}

// me

#me{
    background-color: $pc5;
    color: $pc2;
    padding: 5em;
}

#me h1{
    font-size: 5em;
    text-align: center;
    margin: 0;
}

#me hr{
    border: 0.125em $pc2 solid;
    border-radius: 1em;
}

#portrait{
    display: block;
    margin: auto;
    filter: blur(0.05em);

    $portrait-size: 10em;
    height: calc($portrait-size * 1.233);
    width: $portrait-size;
    background-size: cover;
    background-image:   linear-gradient(to right ,transparent 50%, $pc5),
                        url(/content/image/joel_ol.png);
}

#me-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#me-container div:nth-of-type(even){
    flex: 1;
}

#me-container div:nth-of-type(odd){
    flex: 1;
}